#title {
  text-align: center;
  background-image: url("../img/background.jpeg");
  color: white;
  text-shadow: 2px 2px 3px black, 0px 0px 1px black, 0px 0px 0px black;
}
.thumbnail {
  margin: 10px;
}

.thumbnail {
  margin: 0px;
  padding: 0px;
  border: solid green;
}

span {
  font-style: italic;
}

#spacing {
  text-align: center;
}

#float {
  float: left;
  padding-right: 10px;
}
